
.shop-container {
    display:flex;
    /* grid-template-columns: 4fr 1fr; */
  
    /* margin:30px;
    margin-top:70px; */

}
.cart-container{
    flex:0 0 20%;
}
.products-container{
    flex:1;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 45px;
    margin:100px 50px;
}
@media screen and (max-width:1100px) {
    .products-container{
        grid-template-columns: repeat(2,1fr);
    }
    
}


